.container {
    height: auto;
    width: 100%;
}
.list {
    list-style-type: none;
    padding: 0;
}
.listElements {
    display: inline-block;
    margin: 10px;
    width: 520px;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 235, 143);
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    margin: 10px;
}
.cardImages {
    width: 200px;
    height: auto;
}
.cardHeading {
    font-size: 80%;
    color: black;
}
.cardDescription {
    font-size: 70%;
    color: black;
}