.container {
    height: auto;
    width: 100%;
}
.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 253, 100);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
}

.cards p,
.cards h3 {
    color: #000;
    overflow-y: hidden;
}

.cards h3 {
    max-height: 1.4rem;
}
.cards p {
    max-height: 3.5rem;
}
.cards p:hover,
.cards h3:hover {
    max-height: none;
}

.cards button {
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}